---
clusters:
  - name: prod
    controlplane:
      cluster: true
      core: 2
      memory: 2048
      base_vmid: 4000
      address_sans_last_octet: 192.168.10
      last_octet: 121
      gateway_last_octet: 1
      domain: priv.prod.labnet
    compute:
      num: 3
      core: 4
      memory: 4096
      base_vmid: 5000
      address_sans_last_octet: 192.168.11
      last_octet: 131
      gateway_last_octet: 1
      domain: work.prod.labnet
    vip:
      controlplane: true
      controlplane_ip: ""
      controlplane_fqdn: ""
      services: true
  - name: dev
    controlplane:
      cluster: false
      core: 1
      memory: 1024
      base_vmid: 6000
      address_sans_last_octet: 172.18.10
      last_octet: 111
      gateway_last_octet: 1
      domain: priv.dev.labnet
    compute:
      num: 3
      core: 2
      memory: 2048
      base_vmid: 7000
      address_sans_last_octet: 172.18.11
      last_octet: 254
      gateway_last_octet: 1
      domain: work.dev.labnet
    vip:
      controlplane: false
      controlplane_ip: 172.18.10.24
      controlplane_fqdn: vip.priv.dev.labnet
      services: true
