token: '{{ cluster_token }}'
{% if inventory_hostname in groups['rke2_master'] + groups['rke2_worker'] and inventory_hostname != groups['rke2_master'][0] %}
server: "https://{{ cluster_vip_fqdn }}:9345"
{% endif %}
{% if inventory_hostname in groups['rke2_master'] %}
tls-san:
- "{{ cluster_vip_fqdn }}"
{% for host in groups['rke2_master'] %}
- "{{ hostvars[host]['ansible_facts']['fqdn'] }}"
{% endfor %}
write-kubeconfig-mode: "0644"
node-taint:
- "CriticalAddonsOnly=true:NoExecute"
disable-cloud-controller: true
{% endif %}
