{{- $cluster := . -}}
{{range $i, $masterIP := .MasterIPs}}
resource "proxmox_vm_qemu" "{{ $cluster.Name }}_master_{{ add1 $i }}" {
  name = "{{ $cluster.Name }}-master-{{ add1 $i }}"
  ip   = "{{ index $cluster.MasterIPs $i }}"
  # Aggiungi qui ulteriori configurazioni specifiche
}
{{end}}

{{range $i, $workerIP := .WorkerIPs}}
resource "proxmox_vm_qemu" "{{ $cluster.Name }}_worker_{{ add1 $i }}" {
  name = "{{ $cluster.Name }}-worker-{{ add1 $i }}"
  ip   = "{{ index $cluster.WorkerIPs $i }}"
  # Aggiungi qui ulteriori configurazioni specifiche
}
{{end}}
