// data for cluster {{ .Name }}

// https://github.com/Telmate/terraform-provider-proxmox/blob/master/docs/resources/vm_qemu.md

{{range $masterNode := .Masters}}
resource "proxmox_vm_qemu" "{{ $masterNode.TerraformResourceName }}" {
  name = "{{ $masterNode.ProxmoxVmName }}"
  desc = "{{ $masterNode.ProxmoxVmDescription }}"
  vmid = "{{ $masterNode.ProxmoxVMID }}"
  target_node = var.proxmox_node_name
  // a value of false should create a linked clone
  full_clone = var.clone_type == "full" ? true : false
  // must be set to 1 if you are using the qemu-guest-agent in your vm template
  agent = var.qemu-guest-agent == "enabled" ? 1 : 0
  clone = var.template_name
  cores = var.master_cores
  memory = var.master_memory
  sockets = 1
  cpu = "host"
  scsihw = "virtio-scsi-single"
  tags = "debian;{{range $i, $v := $masterNode.ProxmoxVmTags}}{{if $i}};{{end}}{{$v}}{{end}}"
  network {
    bridge = var.bridge_name
    firewall = false
    model = "virtio"
  }
  // this must match what you've set in the template or you will end up with 2 disks
  disks {
    scsi {
      scsi0 {
        disk {
          asyncio = "native"
          cache = "none"
          discard = true
          emulatessd = true
          iothread = true
          storage = var.storage
          size = var.root_disk_size
        }
      }
    }
    ide {
      ide2 {
        cloudinit {
          storage = var.storage
        }
      }
    }
  }

  ####################
  #    CLOUD-INIT    #
  ####################

  // cloud init: https://github.com/Telmate/terraform-provider-proxmox/blob/master/docs/guides/cloud_init.md
  // cloud init: https://pve.proxmox.com/wiki/Cloud-Init_FAQ
  os_type = "cloud-init"
  ipconfig0 = "ip={{ $masterNode.IP }}/24,gw=${var.gateway}"
  // set the nameserver manually so that hetzner dns are not added to resolv.conf 
  nameserver = var.nameserver
  ciuser = var.user
  sshkeys = var.sshkeys
  // uncomment to login via console and troubleshoot network issues that prevent from sshing into the node
  // cipassword = "password"

  #####################
  #    PROVISIONER    #
  #####################

  // we are doing this stuff to work around this bug: https://github.com/Telmate/terraform-provider-proxmox/issues/380
  connection {
    type = "ssh"
    host = self.default_ipv4_address
    user = var.user
    private_key = var.private_key
  }
  provisioner "remote-exec" {
    inline = [
      "sudo systemd-machine-id-setup",
      "sudo shutdown -r +0"
    ]
  }
  provisioner "remote-exec" {
    inline = [
      "echo 'wait for reboot'"
    ]
  }
}
{{end}}



{{range $workerNode := .Workers}}
resource "proxmox_vm_qemu" "{{ $workerNode.TerraformResourceName }}" {
  name = "{{ $workerNode.ProxmoxVmName }}"
  desc = "{{ $workerNode.ProxmoxVmDescription }}"
  vmid = "{{ $workerNode.ProxmoxVMID }}"
  target_node = var.proxmox_node_name
  // a value of false should create a linked clone
  full_clone = var.clone_type == "full" ? true : false
  // must be set to 1 if you are using the qemu-guest-agent in your vm template
  agent = var.qemu-guest-agent == "enabled" ? 1 : 0
  clone = var.template_name
  cores = var.master_cores
  memory = var.master_memory
  sockets = 1
  cpu = "host"
  scsihw = "virtio-scsi-single"
  tags = "debian;{{range $i, $v := $workerNode.ProxmoxVmTags}}{{if $i}};{{end}}{{$v}}{{end}}"
  network {
    bridge = var.bridge_name
    firewall = false
    model = "virtio"
  }
  // this must match what you've set in the template or you will end up with 2 disks
  disks {
    scsi {
      scsi0 {
        disk {
          asyncio = "native"
          cache = "none"
          discard = true
          emulatessd = true
          iothread = true
          storage = var.storage
          size = var.root_disk_size
        }
      }
    }
    ide {
      ide2 {
        cloudinit {
          storage = var.storage
        }
      }
    }
  }

  ####################
  #    CLOUD-INIT    #
  ####################

  // cloud init: https://github.com/Telmate/terraform-provider-proxmox/blob/master/docs/guides/cloud_init.md
  // cloud init: https://pve.proxmox.com/wiki/Cloud-Init_FAQ
  os_type = "cloud-init"
  ipconfig0 = "ip={{ $workerNode.IP }}/24,gw=${var.gateway}"
  // set the nameserver manually so that hetzner dns are not added to resolv.conf 
  nameserver = var.nameserver
  ciuser = var.user
  sshkeys = var.sshkeys
  // uncomment to login via console and troubleshoot network issues that prevent from sshing into the node
  // cipassword = "password"

  #####################
  #    PROVISIONER    #
  #####################

  // we are doing this stuff to work around this bug: https://github.com/Telmate/terraform-provider-proxmox/issues/380
  connection {
    type = "ssh"
    host = self.default_ipv4_address
    user = var.user
    private_key = var.private_key
  }
  provisioner "remote-exec" {
    inline = [
      "sudo systemd-machine-id-setup",
      "sudo shutdown -r +0"
    ]
  }
  provisioner "remote-exec" {
    inline = [
      "echo 'wait for reboot'"
    ]
  }
}
{{end}}
